#agent_view{
    margin: 20px;
}

#agent_view table input {
    margin: 5px;
}

#agent_view table td {
    text-align: center;
}

.best_action{
    font-weight: bold;
    color:green;
    font-size: 20px;
}

.not_best_action{
    color: lightgrey;
    font-size: 15px;
}

#agent_view_visualize{
    display:none;
}

#agent_thoughts{
    font-family: "courier", sans-serif;
    font-size: 20px;
    margin-left: -100px;
    color: white;
    background: black;
    padding: 10px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    text-transform: uppercase;
}

.agent_action_chosen {
    background: green;
    color: white;
    padding: 5px;
}

#agent-perspective-off-policy{
    margin-top: 50px;
}